
<!--<link rel="stylesheet" href="../css/dashboard.css">-->


<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-border-right w3-dark-grey" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <!--<i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>-->
    <h3 class="w3-wide"><b>Farmer Hub</b></h3>
    <a href="#" class="w3-bar-item w3-button" style="text-decoration:none;" onclick="w3_close()"><%= user.name %></a>
    <hr>
    
    <a href="/dashboard" style="text-decoration:none;" class="active w3-bar-item w3-button" onclick="w3_close()">Dashboard</a>
    
    <a href="/forum" style="text-decoration:none;" class="w3-bar-item w3-button" onclick="w3_close()" >Forum</a>
    <a href="/prevReport" style="text-decoration:none;" class="w3-bar-item w3-button" onclick="w3_close()" >Reports</a>
    <hr>
    <a href="/users/logout" style="text-decoration:none;" class="w3-bar-item w3-button" onclick="w3_close()">Logout</a>
    
    
  </div>
  <div id="mySidenav" class="w3-padding-5 w3-large w3-text-grey" style="font-weight:bold">
    
  </div>

</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-dark-grey w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide" >Farmer Hub</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main " style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large " style="margin-top:83px">
  </div>

  <div class="w3-container">
    

<div class="jumbotron">
  <h4 style="text-align: center;" ><b>Plant Disease Detection</b></h4>
    
  <p style="text-align: center;" >Upload the plant/tree leaf photo below to know the plant disease</p>
</div>

    <br>

    
    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        </div>

        <div class="col-sm-6">

          <div class="w3-card-4 w3-dark-grey">
    
            <div class="w3-container w3-center">
              <h3>Uploaded image</h3>
              <form  action="/upload" method="POST" enctype="multipart/form-data">
                <img class="file-upload-image" src="../images/image.png" alt="your image" style="width:90%;height:200px;" />
                <br>
                <br>
                <input type="text" name="user" style="display:none;" value="<%= user.name %>">
              <input type='file'  name="image" onchange="readURL(this);" class="w3-btn w3-white w3-border w3-border-red w3-round-large" style="width:70%" accept="image/*" />

        
              <div class="w3-section">
                <button class="w3-button w3-green">Process</button>
                <button class="w3-button w3-red" onclick="removeUpload()" >Remove</button>
              </div>
              </form>
            </div>
        
          </div>

        </div>
  
      <div class="col-sm-3">

      </div>

    </div>
    </div>
    <br>
    <br>
      <div class="container">
        <div class="row">
            <div class="col-sm-12">
              <div class="w3-card-4" style="width:100%">
                <div class="w3-container w3-center">
                  <br>
                 
                  <table class="w3-table w3-striped w3-border">
                    <tr>
                      <td>Disease </td>
                      <td><%= disease %></td>
                    </tr>
                    <tr>
                      <td>Plant  </td>
                      <td><%= plant %></td>

                    </tr>
                    <tr>
                      <td>Remedy  </td>
                      <td><%= remedy %></td>
                    </tr>
                  </table>
                  <br>
                </div>
              </div>
            </div>
        </div>
      </div>
      <br>
      <br>


  </div>
</div>

  
<script src="../dashboard.js">
   
</script>

