
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-border-right w3-dark-grey" style="z-index:3;width:250px" id="mySidebar">
    <div class="w3-container w3-display-container w3-padding-16">
      <!--<i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>-->
      <h3 class="w3-wide"><b>Farmer Hub</b></h3>
      <a href="#" class="w3-bar-item w3-button" style="text-decoration:none;" id="user" onclick="w3_close()"><%= user.name %></a>
      <hr>
      
      <a href="/dashboard" style="text-decoration:none;" class="active w3-bar-item w3-button" onclick="w3_close()">Dashboard</a>
      
      <a href="/forum" style="text-decoration:none;" class="w3-bar-item w3-button" onclick="w3_close()" >Forum</a>
      <a href="/prevReport" style="text-decoration:none;" class="w3-bar-item w3-button" onclick="w3_close()" >Reports</a>
      <hr>
      <a href="/users/logout" style="text-decoration:none;" class="w3-bar-item w3-button" onclick="w3_close()">Logout</a>
      
      
    </div>
    <div id="mySidenav" class="w3-padding-5 w3-large w3-text-grey" style="font-weight:bold">
      
    </div>
  
  </nav>
  
  <!-- Top menu on small screens -->
  <header class="w3-bar w3-top w3-hide-large">
    <div class="container">
      <div class="row w3-dark-grey">
        <div class="col-2 pt-2">
          <button class=" w3-button " onclick="document.getElementById('id01').style.display='block'" style="text-decoration: none;">Post</button>
        </div>
        <div class="col-8 pt-2 ">
          <div class="input-group mb-3 ">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-append">
              <button class="btn btn-success" type="submit">Go</button>  
             </div>
          </div>
        </div>
        <div class="col-2 pt-2">
          <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large " onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  
  <!-- !PAGE CONTENT! -->
  <div class="w3-main " style="margin-left:250px">
  
    <!-- Push down content on small screens -->
    <div class="w3-hide-large " style="margin-top:83px">
    </div>
  
    <div class="w3-container">
       
      <header class="w3-hide-small  w3-hide-medium">
        <div class="container">
          <div class="row w3-dark-grey">
            <div class="col-2 pt-2">
              <button class=" w3-button " onclick="document.getElementById('id01').style.display='block'" style="text-decoration: none;">Post</button>
            </div>
            <div class="col-10 pt-2 ">
              <div class="input-group mb-3 ">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-append">
                  <button class="btn btn-success" type="submit">Go</button>  
                 </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      
      
      <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
    
          <div class="w3-center"><br>
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
           
          </div>
    
          <form class="w3-container" action="/forum" method="POST">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Ask your Question below</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" name="post" rows="3"></textarea>
              <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Post</button>
            </div>
          </form>
    
          <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
          </div>
    
        </div>
      </div>

      <% if(success_msg!=''){ %>
        <div class="alert alert-success alert-dismissible fade show">
          
          <p><%= success_msg %></p>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
      
        </div>
      <% } %>

      <% if(error_msg!=''){ %>
        <div class="alert alert-warning alert-dismissible fade show">
          
          <p><%= error_msg %></p>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
      
        </div>
      <% } %>

      <% if(posts!=''){ %>
          
          <% for (var i=0;i < posts.length;i++){ %>

            <div class="w3-card-4 w3-margin w3-panel w3-border w3-round-xlarge" id="<%= posts[i]._id %>" style="width:95%">
              <header class="w3-container w3-dark-grey w3-panel w3-border w3-round-xlarge">
                <div class="row">
                  <div class="col-10">
                    <h6>Posted by <%= posts[i].name %>  &nbsp; on  <%= posts[i].time.toDateString() %>  </h6>
                  </div>
                  <div class="col-2">
                    <% if(posts[i].name==user.name){ %>
                    <div class="btn btn-danger fa fa-trash" style="float:right;margin-top:5px" onclick="delPost('<%= posts[i]._id %>')"></div>
                    <% } %>
                  </div>
                </div>
              </header>
              <div class="w3-container">
                <p><%= posts[i].query %></p>
              </div>
              <div class="row">
                <div class="col-6">
                  <button class="w3-button w3-block w3-light-grey w3-panel w3-border w3-round-xlarge" onclick="loadComments(this.parentNode.parentNode.parentNode.id)">Load Comments</button>
                </div>
                <div class="col-6">
                  <button class="w3-button w3-block w3-light-grey w3-panel w3-border w3-round-xlarge" onclick="loadReply(this.parentNode.parentNode.parentNode.id)">Reply</button>
                </div>
              </div>
              <div class="row" style="display:none;" id="reply<%= posts[i]._id %>">
                <div class="col-12">
                  <form method="POST" action="/forum/reply">
                  <div class="input-group mb-3">
                    <input type="text" name="name" style="display: none;" value="<%= user.name %>">
                    <input type="text" name="queryID" style="display: none;" value="<%= posts[i]._id %>">
                    <input type="text" name="reply" class="form-control" placeholder="Your reply" required>
                    <div class="input-group-append">
                      <button class="btn btn-success" type="submit">send</button>  
                      <div class="btn btn-danger fa fa-trash" onclick="delReply(this.parentNode.parentNode.parentNode.parentNode.parentNode.id)"></div>  
                     </div>
                  </div>
                </form>
                </div>
              </div>


              <fieldset class="w3-panel w3-border w3-round-large" style="display: none;">
                <legend><i style="font-size:10px;">Comments</i></legend>
                <div style="display: none;" id="Comments<%= posts[i]._id %>"></div>
              </fieldset>
              
            </div>
            
          <% } %>   
      <% } %>

      <button class="w3-button w3-block w3-light-grey w3-panel w3-border w3-round-xlarge" style="padding: 20px;" onclick="loadMore()" ><b>Load More</b></button>


    </div>
</div>

<script src="../dashboard.js">
   
</script>

<script src="../forumApp.js">
   
</script>